<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="version.versionList" class="mat-table">

      <ng-container matColumnDef="Aktion">
        <th class="th-center" mat-header-cell *matHeaderCellDef> Aktion </th>
        <td mat-cell *matCellDef="let version" >
          <app-sys-button icon="edit" color="accent" tooltip="Bearbeiten" (click)="editVersion(version.id)"></app-sys-button>
          <app-sys-button icon="delete" tooltip="löschen" (click)="deleteVersion(version.id, version.version)"></app-sys-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Datum">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let version">{{version.date}}</td>
      </ng-container>

      <ng-container matColumnDef="Version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let version">{{version.version}}</td>
      </ng-container>

      <ng-container matColumnDef="Aufgabe">
        <th mat-header-cell *matHeaderCellDef> Aufgabe </th>
        <td mat-cell *matCellDef="let version">{{version.toDo}}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th class="th-center" mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let version">
          <div class="d-flex justify-content-center">
            <app-sys-status-led [status]=version.done></app-sys-status-led>
          </div>
        </td>
      </ng-container>

      <!--      Station columns-->
      <ng-container *ngFor="let displayedColumns of extraColumns; let colIndex = index">
        <ng-container  matColumnDef="{{displayedColumns}}">
          <th mat-header-cell *matHeaderCellDef> {{displayedColumns}} </th>
          <td mat-cell *matCellDef="let version">
            <mat-checkbox checked="{{version.versionStation[colIndex].done}}"
                          (click)="updateVersionStation(version.versionStation[colIndex].id, version.id)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<div class="button-container">
  <mat-divider class="mt-4"></mat-divider>
  <div class="d-flex flex-row-reverse">
    <button class="mt-2" mat-raised-button color="accent" (click)="addVersion()">Hinzufügen</button>
  </div>
</div>
