<form [formGroup]="projectForm" (ngSubmit)="saveProject()">
  <mat-card>
    <mat-card-header>
      <h1>{{data.title}}</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input maxlength="27" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Beschreibung</mat-label>
        <input maxlength="38" matInput formControlName="description">
      </mat-form-field>

      <div class="d-flex justify-content-between">
        <mat-form-field class="mat-mdc-form-field-2">
          <mat-label>Kürzel</mat-label>
          <input maxlength="5" matInput formControlName="acronym">
        </mat-form-field>

<!--        <mat-form-field class="mat-mdc-form-field-2">-->
<!--          <mat-label>Farbe</mat-label>-->
<!--          <input maxlength="7" matInput formControlName="color">-->
<!--          <mat-hint>Hex Format: #ffffff</mat-hint>-->
<!--        </mat-form-field>-->

<!--        Color Picker-->

        <mat-form-field class="mat-mdc-form-field-2">
          <mat-label>Farbe</mat-label>
          <input class="color-picker-input"
                 maxlength="7"
                 matInput
                 formControlName="color">
          <button mat-icon-button
                  color="accent"
                  type="button"
                  matSuffix>
            <mat-icon>palette</mat-icon>
          </button>
          <mat-hint>Hex Format: #ffffff</mat-hint>
        </mat-form-field>

<!--          <color-chrome-->
<!--            [(color)]="color"-->
<!--            (onChangeComplete)="onColorChange($event.color.hex)">-->
<!--          </color-chrome>-->

      </div>

      <ng-container *ngIf="!data.isEdit">
        <mat-form-field class="mat-mdc-form-field-2">
          <mat-label>Template</mat-label>
          <mat-select formControlName="template">
            <mat-option value="Neu">Neu</mat-option>
            <ng-container *ngFor="let project of data.project.projectViewList">
              <mat-option [value]="project.project.name">{{project.project.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </ng-container>

    </mat-card-content>


    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent"> {{data.button}} </button>
      <button type="reset" mat-raised-button color="primary" (click)="closePopup()"> Abbrechen </button>
    </mat-card-actions>
  </mat-card>
</form>
