<div class="station-cards-container">
  <ng-container *ngIf="loggedUser as user">
    <ng-container *ngIf="user.user.firstname!='bitte einloggen'">
          <app-station-card class="station-card ms-5 mt-4 mat-elevation-z6"
                            *ngFor="let stationView of stationView.stationViewList" [stationView]="stationView"/>

          <mat-card class="card-container station-card ms-5 mt-4 justify-content-center">
            <div class="d-flex justify-content-center">
              <button class="card-button" mat-raised-button color="accent" (click)="addStation()">Hinzufügen</button>
            </div>
          </mat-card>
        </ng-container>
    <ng-container *ngIf="user.user.firstname=='bitte einloggen'">
      <h3>bitte einloggen</h3>
    </ng-container>
  </ng-container>
</div>
