.mdc-button{
  margin: 2px;
}

.sys-confirmation-header{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--frontend-primary);
  color: white;
  height: 50px;
}

.sys-confirmation-header-text{

}

.sys-confirmation-subtitle{
  color: black;
}
