.table-container{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.editable-field {
  cursor: pointer;
}

.editable-field:hover {
  color: var(--frontend-primary);
}

.th-center{
  text-align: center;
}

.th-left{
  text-align: left;
}

.mat-column-Kopfdaten{
  width: 50%;
}

.mat-column-Daten{
  width: 50%;
}

.alignment{
  position: relative;
  top: 9px;
}

.edit-mat-form-field-data{
  width: 100%
}

.headerData-data {
  position: relative;
  top: 4px;
  display: flex;
  justify-content: center;
}

.copyIcon {
  margin-left: 5px;
  position: relative;
  top: -3px;
  cursor: pointer;
  transition: 0.3s ease;
}

.copyIcon:hover{
  color: var(--frontend-primary);
  transform: scale(1.15);
}
