<form [formGroup]="historyForm" (ngSubmit)="saveHistory()">

  <mat-card>
    <mat-card-header>
      <h1>{{data.title}}</h1>
    </mat-card-header>

    <mat-card-content>

      <div>
        <mat-form-field>
          <mat-label>Eintrag</mat-label>
          <input matInput formControlName="item">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Dateiname</mat-label>
          <input matInput formControlName="filename">
        </mat-form-field>
      </div>


<!--      Light Mode-->
      <ng-container *ngIf="!isDarkMode">
        <div>
          <mat-checkbox (change)="initTransferType()" formControlName="fileTransfer">Datei Übergabe</mat-checkbox>

          <mat-radio-group formControlName="transferType">
            <mat-radio-button class="ms-2" value="1">erhalten</mat-radio-button>
            <mat-radio-button class="ms-2" value="2">übergeben</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-checkbox (change)="initEplanTransferType()" formControlName="eplan">
            EPLAN
          </mat-checkbox>

          <mat-checkbox formControlName="eplanCopy">
            Kopie
          </mat-checkbox>
        </div>
      </ng-container>

<!--      Dark Mode-->
      <ng-container *ngIf="isDarkMode">
        <div>
          <mat-checkbox color="primary" (change)="initTransferType()" formControlName="fileTransfer">Datei Übergabe</mat-checkbox>

          <mat-radio-group formControlName="transferType">
            <mat-radio-button color="primary" class="ms-2" value="1">erhalten</mat-radio-button>
            <mat-radio-button color="primary" class="ms-2" value="2">übergeben</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-checkbox color="primary" (change)="initEplanTransferType()" formControlName="eplan">
            EPLAN
          </mat-checkbox>

          <mat-checkbox color="primary" formControlName="eplanCopy">
            Kopie
          </mat-checkbox>
        </div>
      </ng-container>


    </mat-card-content>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent"> Hinzufügen </button>
      <button type="reset" mat-raised-button color="primary" (click)="closePopup(false)"> Abbrechen </button>
    </mat-card-actions>
  </mat-card>
</form>
