<div class="div-table">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="specificationSettings.specificationSettingList">

      <ng-container matColumnDef="Aktion">
        <th class="th-Aktion" mat-header-cell *matHeaderCellDef> Aktion </th>
        <td mat-cell *matCellDef="let specification">
          <ng-container *ngIf="!editSpecificationSettings[specification.id].isEdit">
            <app-sys-button icon="edit" color="accent" tooltip="Bearbeiten" (click)="editSpecificationSetting(specification.id)"></app-sys-button>
            <app-sys-button icon="delete" tooltip="Löschen" (click)="deleteSpecification(specification.id,specification.name)"></app-sys-button>
          </ng-container>
          <ng-container *ngIf="editSpecificationSettings[specification.id].isEdit">
            <app-sys-button icon="check" color="accent" tooltip="Speichern" (click)="updateSpecificationSetting(specification.id)"></app-sys-button>
            <app-sys-button icon="close" tooltip="Abbrechen" (click)="cancelEditSpecificationSetting(specification.id)"></app-sys-button>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Vorgabe">
        <th mat-header-cell *matHeaderCellDef> Vorgabe </th>
        <td mat-cell *matCellDef="let specification">
          <ng-container *ngIf="!editSpecificationSettings[specification.id].isEdit">
            {{specification.item}}
          </ng-container>
          <ng-container *ngIf="editSpecificationSettings[specification.id].isEdit">
            <mat-form-field class="alignment edit-mat-form-field-doku">
              <input matInput [(ngModel)]="editSpecificationSettings[specification.id].specificationSetting.item">
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
  <mat-divider class="mt-4"></mat-divider>
  <div class="d-flex flex-row-reverse">
    <button class="mt-2" mat-raised-button color="accent" (click)="addSpecificationSetting()">Hinzufügen</button>
  </div>
</div>
