<ng-container *ngIf="loggedUser.user.activeProject > 0">
  <div class="overview-container">
    <div class="overview-nav">
      <app-sys-nav-button (click)="selectOverview(1)"  text="Allgemein" [selected]="selectedOverview==1"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(2)"  text="Kopfdaten" [selected]="selectedOverview==2"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(3)"  text="Vorgaben" [selected]="selectedOverview==3"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(4)"  text="Projektierung" [selected]="selectedOverview==4"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(5)"  text="Kontrolle" [selected]="selectedOverview==5"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(6)"  text="Doku" [selected]="selectedOverview==6"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(7)"  text="Technische Daten" [selected]="selectedOverview==7"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(8)"  text="LOP" [selected]="selectedOverview==8"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(9)"  text="Historie" [selected]="selectedOverview==9"></app-sys-nav-button>
      <app-sys-nav-button (click)="selectOverview(10)"  text="Version" [selected]="selectedOverview==10"></app-sys-nav-button>
    </div>
    <div class="overview-divider">
      <mat-divider vertical="true"></mat-divider>
    </div>
    <div class="overview-content">
      <ng-container *ngIf="selectedOverview >= 1 && selectedOverview <= 9">
        <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" [(selectedIndex)]="stationId">
          <ng-container *ngFor="let stationView of stationView.stationViewList">
            <mat-tab [label]="stationView.name">
              <ng-template matTabContent>
                <div [ngSwitch]="selectedOverview" class="mat-tab-group-content mat-tab-body mat-tab-body-content">
                  <app-station-overview (selectedOverviewEmitted)="receiveSelectedOverview($event)" *ngSwitchCase="1" [stationViewInput]="stationView" [stationId]="stationView.id"></app-station-overview>
                  <app-header-data *ngSwitchCase="2" [stationId]="stationView.id"></app-header-data>
                  <app-specification *ngSwitchCase="3" [stationId]="stationView.id"></app-specification>
                  <app-projection *ngSwitchCase="4" [stationId]="stationView.id"></app-projection>
                  <app-control *ngSwitchCase="5" [stationId]="stationView.id"></app-control>
                  <app-documentation *ngSwitchCase="6" [stationId]="stationView.id"></app-documentation>
                  <app-technical-data *ngSwitchCase="7" [stationId]="stationView.id"></app-technical-data>
                  <app-lop *ngSwitchCase="8" [stationId]="stationView.id"></app-lop>
                  <app-history *ngSwitchCase="9" [stationId]="stationView.id"></app-history>
                </div>
              </ng-template>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </ng-container>
      <ng-container *ngIf="selectedOverview == 10" >
        <app-version-overview class="mat-tab-group-content mat-tab-body mat-tab-body-content"></app-version-overview>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="loggedUser.user.activeProject == 0">
  <div [routerLink]="['/projectAdministration', false]" class="card-container-no-project" appProjectElevation [defaultElevation]="4" [raisedElevation]="16">
    <div class="container-no-project">
      <h1>Kein Projekt ausgewählt</h1>
      <h3>hier klicken</h3>
    </div>
  </div>
</ng-container>
