<div class="overview-container">
  <div class="overview-nav">
    <app-sys-nav-button (click)="selectOverview(1)"  text="Stationen" [selected]="selectedOverview==1"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(2)"  text="Kopfdaten" [selected]="selectedOverview==2"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(3)"  text="Vorgaben" [selected]="selectedOverview==3"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(4)"  text="Projektierung" [selected]="selectedOverview==4"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(5)"  text="Technische Daten" [selected]="selectedOverview==5"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(6)"  text="Kontrolle" [selected]="selectedOverview==6"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(7)"  text="Doku" [selected]="selectedOverview==7"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(8)"  text="LOP" [selected]="selectedOverview==8"></app-sys-nav-button>
    <app-sys-nav-button (click)="selectOverview(9)"  text="Historie" [selected]="selectedOverview==9"></app-sys-nav-button>
  </div>
  <div class="overview-divider">
    <mat-divider vertical="true"></mat-divider>
  </div>
  <div class="overview-content">
      <mat-tab-group mat-stretch-tabs="false" color="accent" animationDuration="0ms">
        <ng-container *ngFor="let stationView of stationView.stationViewList">
          <mat-tab [label]="stationView.name">
            <ng-template matTabContent>
              <div [ngSwitch]="selectedOverview" class="mat-tab-group-content">
                <div *ngSwitchCase="1"> Stationen </div>
                <div *ngSwitchCase="2"> Kopfdaten </div>
                <div *ngSwitchCase="3"> Vorgaben </div>
                <div *ngSwitchCase="4"> Projektierung </div>
                <div *ngSwitchCase="5"> Technische Daten </div>
                <div *ngSwitchCase="6"> Kontrolle </div>
                <div *ngSwitchCase="7"> Doku </div>
                <app-lop *ngSwitchCase="8" [stationId]="stationView.id"></app-lop>
                <app-history *ngSwitchCase="9" [stationId]="stationView.id"></app-history>
              </div>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
  </div>
</div>
