.card-content{
  padding: 1.2%;
}

.overview-container {
  margin-top: 4px;
  display: flex;
}

.overview-nav{
  margin-top: 4px;
}

.overview-divider{
  margin-top: 4px;
  margin-left: 30px;
  display: flex;
}

.overview-content{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4px;
  flex: 1;
}
