<div class="d-flex justify-content-center mt-2">
  <app-counter-display></app-counter-display>
</div>
<div class="d-flex justify-content-center">
  <button mat-raised-button color="accent" (click)="increment()">
    Increment
  </button>
  <button mat-raised-button color="accent" (click)="decrement()">
    Decrement
  </button>
  <button mat-raised-button color="accent" (click)="reset()">
    Reset
  </button>
  <button mat-raised-button color="accent" (click)="rename()">
    Rename
  </button>
</div>
<div class="d-flex justify-content-center mt-2">
  <app-custom-counter></app-custom-counter>
</div>
