<div class="div-table">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="headerDataSettings.headerDataSettingList">

      <ng-container matColumnDef="Aktion">
        <th class="th-Aktion" mat-header-cell *matHeaderCellDef> Aktion </th>
        <td mat-cell *matCellDef="let headerData">
          <ng-container *ngIf="!editHeaderDataSettings[headerData.id].isEdit">
            <app-sys-button icon="edit" color="accent" tooltip="Bearbeiten" (click)="editHeaderDataSetting(headerData.id)"></app-sys-button>
            <app-sys-button icon="delete" tooltip="Löschen" (click)="deleteHeaderData(headerData.id,headerData.name)"></app-sys-button>
          </ng-container>
          <ng-container *ngIf="editHeaderDataSettings[headerData.id].isEdit">
            <app-sys-button icon="check" color="accent" tooltip="Speichern" (click)="updateHeaderDataSetting(headerData.id)"></app-sys-button>
            <app-sys-button icon="close" tooltip="Abbrechen" (click)="cancelEditHeaderDataSetting(headerData.id)"></app-sys-button>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Kopfdaten">
        <th mat-header-cell *matHeaderCellDef> Kopfdaten </th>
        <td mat-cell *matCellDef="let headerData">
          <ng-container *ngIf="!editHeaderDataSettings[headerData.id].isEdit">
            {{headerData.item}}
          </ng-container>
          <ng-container *ngIf="editHeaderDataSettings[headerData.id].isEdit">
            <mat-form-field class="alignment edit-mat-form-field-doku">
              <input matInput [(ngModel)]="editHeaderDataSettings[headerData.id].headerDataSetting.item">
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
  <mat-divider class="mt-4"></mat-divider>
  <div class="d-flex flex-row-reverse">
    <button class="mt-2" mat-raised-button color="accent" (click)="addHeaderDataSetting()">Hinzufügen</button>
  </div>
</div>
