.mat-form-field-1{
  width: 100%;
}

.mat-form-field-2{
  width: 48%;
}

.mat-form-field-3{
  width: 32%;
}

.mdc-button{
  margin: 2px;
}

.card-content{
  display: flex;
  flex-direction: row;
}

.row-1{
  display: flex;
}
