mat-sidenav-container{
  height: calc(100vh - 64px);
}

mat-toolbar{
  position: relative;
  z-index: 5;
}

mat-sidenav, mat-sidenav-content, mat-sidenav-container{
  transition: all 500ms ease-in-out;
}

.content{
  //margin-top: 24px;
  margin-left: 24px;
}

.alignment-project{
  position: relative;
  top: 6.5px;
  margin-left: 19px;
}

.alignment-collapse-button{
  position: relative;
  right: 6.5px;
}

.alignment-user{
  position: relative;
  top: 8px;
}

.alignment-theme-toggle{
  position: relative;
  left: 7px;
}

.flex-container{
  display: flex;
}

.divider-container{
  height: 70%;
  position: relative;
  top: 7px;
  right: 2px;
  background-color: var(--mat-divider-white-opacity);
}

.info-button-container{
  position: absolute;
  bottom: 0;
}

.date-container{
  display: flex;
  align-items: center;
  //flex-direction: column;
  position: relative;
  bottom: 6px;
}

.date-day-container{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.date-item-container{
  height: 15px;
}
