<mat-toolbar color="primary" class="mat-elevation-z4 justify-content-between">
  <!--  left side-->
  <div class="flex-container">
    <span class="alignment-collapse-button">
      <button mat-icon-button (click)="collapsed.set(!collapsed())"> <mat-icon>menu</mat-icon> </button>
    </span>
    <span>
      <mat-divider class="divider-container" vertical="true"></mat-divider>
    </span>
    <ng-container *ngIf="activeProjectView">
      <span class="alignment-project">
      {{activeProjectView.projectView.project.name}}
    </span>
    </ng-container>
  </div>
  <div class="date-container">
    <div class="date-day-container">
      <div class="date-item-container">
        {{getWeekday(this.today.getDate(), this.today.getMonth() + 1, this.today.getFullYear(), "long")}}
      </div>
      <div class="date-item-container">
        {{this.todayDate}}
      </div>
    </div>
    <div class="date-item-container ms-2" style="font-size: 1.5rem">
      KW{{getWeekNumber(this.today.getDate(), this.today.getMonth() + 1, this.today.getFullYear())}}
    </div>
  </div>
  <!--  right side-->
  <span class="flex-container justify-content-between">
    <span class="alignment-user">
      Hallo, {{loggedUser.user.firstname}}
    </span>
    <span>
      <mat-divider class="divider-container ms-4" vertical="true"></mat-divider>
    </span>
<!--    Projektverwaltung-->
    <ng-container *ngIf="loggedUser.user.roles.projectRole">
      <button mat-icon-button [matMenuTriggerFor]="menu2" class="ms-1">
        <mat-icon>folder</mat-icon>
      </button>
      <mat-menu #menu2=matMenu>
        <button mat-menu-item [routerLink]="['/projectAdministration', false]">Projektverwaltung</button>
        <button mat-menu-item [routerLink]="['/projectAdministration', true]">Projektarchiv</button>
      </mat-menu>
    </ng-container>
    <ng-container *ngIf="!loggedUser.user.roles.projectRole">
      <button [routerLink]="['/projectAdministration', false]" mat-icon-button class="ms-1">
        <mat-icon>folder</mat-icon>
      </button>
    </ng-container>


<!--    Benutzerverwaltung-->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="me-2">
      <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="loggedUser.user.roles.adminRole">
        <button mat-menu-item routerLink="/userAdministration"><span>Benutzerverwaltung</span></button>
        <button mat-menu-item routerLink="/calender"><span>Projektkalender</span></button>
      </ng-container>
      <ng-container *ngIf="loggedUser.user.roles.projectRole">
        <button mat-menu-item routerLink="/globalSettings"><span>Einstellungen</span></button>
      </ng-container>
      <button mat-menu-item (click)="onLogout()"><span>Ausloggen</span></button>
      <div mat-menu-item disabled> {{global.version}}</div>
    </mat-menu>
    <span>
      <mat-divider class="divider-container" vertical="true"></mat-divider>
    </span>
    <div class="alignment-theme-toggle">
      <app-theme-toggle></app-theme-toggle>
    </div>
  </span>
</mat-toolbar>

<ng-container *ngIf="loggedUser.user.id > 0">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sideNavWidth()">
      <app-custom-sidenav [loggedUser]="loggedUser" [collapsed]="collapsed()"></app-custom-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
