<mat-card class="card-container" (click)="selectProject(projectFavView?.project?.id)">
  <div class="d-flex justify-content-between ms-2 mt-2 me-2">
    <div class="card-header-left">
      <button mat-raised-button
              matTooltip="Favorit"
              color="accent"
              class="button small-button"
              (click)="editFavorite($event, projectFavView?.project?.id, projectFavView?.isFavorite)">
        <i class="material-icons star-icon" [ngClass]="{'star-icon': projectFavView?.isFavorite}" >star</i>
      </button>
      <div class="card-header-text" >
        <div class="project-name">
          <h3>{{projectFavView?.project?.name}}</h3>
        </div>
        <div class="project-description">
          <h5>{{projectFavView?.project?.description}}</h5>
        </div>
      </div>
    </div>

    <ng-container *ngIf="loggedUser.user.roles.projectRole">
      <ng-container *ngIf="!dashboard">
        <div class="card-header-right" (click)="$event.stopPropagation()">
          <button class="align-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editProject(projectFavView?.project?.id)">
              Bearbeiten
            </button>
            <button mat-menu-item (click)="deleteProject(projectFavView?.project?.id, projectFavView?.project?.name)">
              Löschen
            </button>
            <ng-container *ngIf="!archive">
              <button mat-menu-item (click)="archiveProject(projectFavView?.project?.id)">
                Archivieren
              </button>
            </ng-container>
            <ng-container *ngIf="archive">
              <button mat-menu-item (click)="deArchiveProject(projectFavView?.project?.id)">
                Dearchivieren
              </button>
            </ng-container>
          </mat-menu>
        </div>
      </ng-container>
    </ng-container>

  </div>

  <div>
    <div class="card-media">
      <img *ngIf="projectImageUrl; else noImage" [src]="projectImageUrl" [width]="346" [height]="100" class="project-image">
    </div>

    <ng-template #noImage>
      <span class="no-image">Kein Bild ausgewählt</span>
    </ng-template>

    <div class="card-info1 d-flex justify-content-center">
      <h5>Anzahl Stationen: {{projectFavView?.project?.amountStations}}</h5>
    </div>

    <div class="card-info2 d-flex justify-content-center">
      <h5 class="card-info-text">In Arbeit</h5>
      <h5 class="card-info-text">Eingelagert</h5>
      <h5 class="card-info-text">Ausgelagert</h5>
    </div>

    <div class="card-info3 d-flex justify-content-center">
      <h5 class="card-info-text">{{projectFavView?.project?.inProgressStations}}</h5>
      <h5 class="card-info-text">{{projectFavView?.project?.storedStations}}</h5>
      <h5 class="card-info-text">{{projectFavView?.project?.notStoredStations}}</h5>
    </div>
  </div>

</mat-card>
