<mat-card class="card-container" (click)="selectProject(projectView?.id)">
  <div class="d-flex justify-content-between ms-2 mt-2 me-2">
    <div class="card-header-left">
      <button mat-raised-button matTooltip="Favorit" color="accent" class="button small-button" (click)="$event.stopPropagation()">
        <i class="material-icons star-icon" [ngClass]="{'star-icon': favorite}" >star</i>
      </button>
      <div class="card-header-text" >
        <div class="project-name">
          <h3>{{projectView?.name}}</h3>
        </div>
        <div class="project-description">
          <h5>{{projectView?.description}}</h5>
        </div>
      </div>
    </div>

    <ng-container *ngIf="loggedUser.user.roles.projectRole">
      <div class="card-header-right" (click)="$event.stopPropagation()">
        <button class="align-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editProject(projectView?.id)">
            Bearbeiten
          </button>
          <button mat-menu-item (click)="deleteProject(projectView?.id, projectView?.name)">
            Löschen
          </button>
          <ng-container *ngIf="!archive">
            <button mat-menu-item (click)="archiveProject(projectView?.id)">
              Archivieren
            </button>
          </ng-container>
          <ng-container *ngIf="archive">
            <button mat-menu-item (click)="deArchiveProject(projectView?.id)">
              Dearchivieren
            </button>
          </ng-container>
        </mat-menu>
      </div>
    </ng-container>

  </div>

  <div>
    <div class="card-media">

    </div>

    <div class="card-info1 d-flex justify-content-center">
      <h5>Anzahl Stationen: {{projectView?.amountStations}}</h5>
    </div>

    <div class="card-info2 d-flex justify-content-center">
      <h5 class="card-info-text">In Arbeit</h5>
      <h5 class="card-info-text">Eingelagert</h5>
      <h5 class="card-info-text">Ausgelagert</h5>
    </div>

    <div class="card-info3 d-flex justify-content-center">
      <h5 class="card-info-text">{{projectView?.inProgressStations}}</h5>
      <h5 class="card-info-text">{{projectView?.storedStations}}</h5>
      <h5 class="card-info-text">{{projectView?.notStoredStations}}</h5>
    </div>
  </div>

</mat-card>
