<mat-card class="card-container">
  <div class="d-flex justify-content-between ms-2 mt-2 me-2">
    <div class="card-header-left">
      <button mat-raised-button matTooltip="Favorit" color="accent" class="button small-button">
        <i class="material-icons star-icon" [ngClass]="{'star-icon': projectView?.favorite}" >star</i>
      </button>
      <div class="card-header-text">
        <div class="project-name">
          <h3>{{projectView?.name}}</h3>
        </div>
        <div class="project-description">
          <h5>{{projectView?.description}}</h5>
        </div>
      </div>
    </div>

    <div class="card-header-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editProject(projectView?.id)">
          Bearbeiten
        </button>
        <button mat-menu-item (click)="deleteProject(projectView?.id)">
          Löschen
        </button>
      </mat-menu>
    </div>
  </div>

  <div (click)="selectProject(projectView?.id)">
    <div class="card-media">

    </div>

    <div class="card-info1 d-flex justify-content-center">
      <h5>Anzahl Stationen: {{projectView?.amountStations}}</h5>
    </div>

    <div class="card-info2 d-flex justify-content-center">
      <h5 class="card-info-text">In Arbeit</h5>
      <h5 class="card-info-text">Eingelagert</h5>
      <h5 class="card-info-text">Ausgelagert</h5>
    </div>

    <div class="card-info3 d-flex justify-content-center">
      <h5 class="card-info-text">{{projectView?.inProgressStations}}</h5>
      <h5 class="card-info-text">{{projectView?.storedStations}}</h5>
      <h5 class="card-info-text">{{projectView?.notStoredStations}}</h5>
    </div>
  </div>

</mat-card>
