.project-cards-container{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 95%;

  display: flex;
  flex-wrap: wrap;
}

.project-card{
  border-radius: 12px
}

.selected-card {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.card-container{
  width: 350px;
  height: 241px;
  border-radius: 12px;
  background-color: var(--frontend-nav-button);
  border-color: var(--frontend-nav-button-border);
  border-width: 2px;
}

.card-button{
  width: 120px;
}
