<div class="header">
  <ng-container *ngIf="!archive">
    <h1>
      Projektverwaltung
    </h1>
  </ng-container>
  <ng-container *ngIf="archive">
    <h1>
      Projektarchiv
    </h1>
  </ng-container>
</div>

<div class="project-cards-container">
  <ng-container *ngIf="loggedUser as user">
    <ng-container *ngIf="!archive">
      <app-project-card appProjectElevation [defaultElevation]="4" [raisedElevation]="16"
                        class="project-card ms-5 mt-4 mb-5"
                        [loggedUser]="loggedUser"
                        *ngFor="let projectViews of projectView.projectViewList" [projectView]="projectViews"
                        [ngClass]="{'selected-card':projectViews.id===user.user.activeProject}"
                        [archive]="archive"/>

      <mat-card class="card-container project-card ms-5 mt-4 mb-5 justify-content-center">
        <div class="d-flex justify-content-center">
          <button class="card-button" mat-raised-button color="accent" (click)="addProject()">Hinzufügen</button>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="archive">
      <app-project-card class="project-card ms-5 mt-4 mb-5"
                        [loggedUser]="loggedUser"
                        *ngFor="let projectViews of projectView.projectViewList" [projectView]="projectViews"
                        [ngClass]="{'selected-card':projectViews.id===user.user.activeProject}"
                        [archive]="archive"/>
    </ng-container>
  </ng-container>
</div>
