<div class="header">
  <ng-container *ngIf="!archive">
    <h1>
      Projektverwaltung
    </h1>
  </ng-container>
  <ng-container *ngIf="archive && loggedUser.user.roles.projectRole">
    <h1>
      Projektarchiv
    </h1>
  </ng-container>
</div>

<!--appProjectElevation [defaultElevation]="4" [raisedElevation]="16"-->

<div class="project-cards-container">
  <ng-container *ngIf="projectView">
    <ng-container *ngIf="loggedUser as user">
      <ng-container *ngIf="!archive">
        <app-project-card class="project-card ms-5 mt-4 mb-5 hover-card"
                          [loggedUser]="loggedUser"
                          *ngFor="let projectViews of projectView.projectViewList"
                          [projectFavView]="projectViews"
                          [ngClass]="{'selected-card-red':projectViews.project.id===user.user.activeProject}"
                          [archive]="archive"/>

        <ng-container *ngIf="loggedUser.user.roles.projectRole">
          <mat-card class="card-container project-card ms-5 mt-4 mb-5 justify-content-center">
            <div class="d-flex justify-content-center">
              <button class="card-button" mat-raised-button color="accent" (click)="addProject()">Hinzufügen</button>
            </div>
          </mat-card>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="archive  && loggedUser.user.roles.projectRole">
        <app-project-card class="project-card ms-5 mt-4 mb-5"
                          [loggedUser]="loggedUser"
                          *ngFor="let projectViews of projectView.projectViewList"
                          [projectFavView]="projectViews"
                          [ngClass]="{'selected-card-red':projectViews.project.id===user.user.activeProject}"
                          [archive]="archive"/>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
