<div class="project-cards-container">
<!--  todo: check if *ngIf works for user that is not in database-->
  <ng-container *ngIf="loggedUser as user">
    <app-project-card appProjectElevation [defaultElevation]="4" [raisedElevation]="16"
                      class="project-card ms-5 mt-4 "
                      [loggedUser]="loggedUser"
                      *ngFor="let projectViews of projectView.projectViewList" [projectView]="projectViews"
                      [ngClass]="{'selected-card':projectViews.id===user.user.activeProject}"/>
  </ng-container>
</div>
