<ng-container *ngIf="loggedUser.user.activeProject > 0">
  <div class="overall-view-container">
<!--    Filter-->
    <div>
        <mat-expansion-panel class="mb-4">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter
            </mat-panel-title>
          </mat-expansion-panel-header>
<!--          Zeilen-->
          <h5>Allgemein:
            <mat-icon matTooltip="Filter anwenden muss nur bei 'Allgemein' gedrückt werden. 'Spalten' aktualisieren sich direkt beim aus - oder anwählen"
                      matTooltipClass="custom-tooltip"
                      class="info-icon">
              info
            </mat-icon>
          </h5>

          <div>
            <span class="me-3">
              <ng-container *ngIf="selectedStationNames">
                <mat-form-field >
                  <mat-label>Station</mat-label>
                  <mat-select [(ngModel)]="selectedStationNames"
                              (selectionChange)="onChangeSelectStationNames($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllStationNames(allSelected)" value="all">
                      {{isAllStationNamesSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let stationName of stationNames"
                                [value]="stationName">
                      {{stationName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedIssuerNames">
                <mat-form-field >
                  <mat-label>Bearbeiter</mat-label>
                  <mat-select [(ngModel)]="selectedIssuerNames"
                              (selectionChange)="onChangeSelectIssuerNames($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllIssuerNames(allSelected)" value="all">
                      {{isAllIssuerNamesSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let issuerName of issuerNames" [value]="issuerName">
                      {{issuerName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedStatus">
                <mat-form-field >
                  <mat-label>Status</mat-label>
                  <mat-select [(ngModel)]="selectedStatus"
                              (selectionChange)="onChangeSelectStatus($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllStatus(allSelected)" value="all">
                      {{isAllStatusSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let status of status" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedVersions">
                <mat-form-field >
                  <mat-label>Version</mat-label>
                  <mat-select [(ngModel)]="selectedVersions"
                              (selectionChange)="onChangeSelectVersion($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllVersions(allSelected)" value="all">
                      {{isAllVersionsSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let version of versions" [value]="version">
                      {{version}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
                <label>Gesamtfortschritt: </label>
                <mat-slider discrete>
                <input [(value)]="selectedMinTotalProgress" matSliderStartThumb>
                <input [(value)]="selectedMaxTotalProgress" matSliderEndThumb>
              </mat-slider>
            </span>

            <span class="me-3">
                <label>LOPfortschritt: </label>
                <mat-slider discrete>
                <input [(value)]="selectedMinLopProgress" matSliderStartThumb>
                <input [(value)]="selectedMaxLopProgress" matSliderEndThumb>
              </mat-slider>
            </span>

            <button mat-raised-button
                    color="accent"
                    class="filter-button"
                    (click)="applyFilter()">
              Filter anwenden
            </button>

          </div>
<!--          Spalten-->
          <h5>Spalten: </h5>
          <div>
            <span class="me-3">
              <ng-container *ngIf="selectedHeaderData">
                <mat-form-field >
                  <mat-label>Kopfdaten</mat-label>
                  <mat-select [(ngModel)]="selectedHeaderData"
                              (selectionChange)="onChangeSelectHeaderData($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllHeaderData(allSelected)" value="all">
                      {{isAllHeaderDataSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let headerData of headerDataColumns" [value]="headerData">
                      {{headerData}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedSpecification">
                <mat-form-field >
                  <mat-label>Vorgaben</mat-label>
                  <mat-select [(ngModel)]="selectedSpecification"
                              (selectionChange)="onChangeSelectSpecification($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllSpecification(allSelected)" value="all">
                      {{isAllSpecificationSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let specification of specificationColumns" [value]="specification">
                      {{specification}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedProjection">
              <mat-form-field >
                <mat-label>Projektierung</mat-label>
                <mat-select [(ngModel)]="selectedProjection"
                            (selectionChange)="onChangeSelectProjection($event)"
                            multiple>
                  <mat-option #allSelected (click)="toggleSelectAllProjection(allSelected)" value="all">
                    {{isAllProjectionSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                  </mat-option>
                  <mat-option *ngFor="let projection of projectionColumns" [value]="projection">
                    {{projection}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedControl">
                <mat-form-field >
                  <mat-label>Kontrolle</mat-label>
                  <mat-select [(ngModel)]="selectedControl"
                              (selectionChange)="onChangeSelectControl($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllControl(allSelected)" value="all">
                      {{isAllControlSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let control of controlColumns" [value]="control">
                      {{control}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedDocumentation">
                <mat-form-field >
                  <mat-label>Dokumentation</mat-label>
                  <mat-select [(ngModel)]="selectedDocumentation"
                              (selectionChange)="onChangeSelectDocumentation($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllDocumentation(allSelected)" value="all">
                      {{isAllDocumentationSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let documentation of documentationColumns" [value]="documentation">
                      {{documentation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>

            <span class="me-3">
              <ng-container *ngIf="selectedTechnicalData">
                <mat-form-field >
                  <mat-label>Technische Daten</mat-label>
                  <mat-select [(ngModel)]="selectedTechnicalData"
                              (selectionChange)="onChangeSelectTechnicalData($event)"
                              multiple>
                    <mat-option #allSelected (click)="toggleSelectAllTechnicalData(allSelected)" value="all">
                      {{isAllTechnicalDataSelected() ? 'Alles abwählen' : 'Alles auswählen'}}
                    </mat-option>
                    <mat-option *ngFor="let technicalData of technicalDataColumns" [value]="technicalData">
                      {{technicalData}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </span>
          </div>
        </mat-expansion-panel>
    </div>

<!--    Table-->
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="stationOverallView.stationOverallViewList">

        <!--      Big Header-->
        <!-- General Header Row -->
        <ng-container matColumnDef="general">
          <th class="th-center header-allgemein" mat-header-cell *matHeaderCellDef colspan="6">Allgemein</th>
        </ng-container>
        <!-- Header Data Header Row-->
        <ng-container matColumnDef="headerData" >
          <th class="th-center header-headerData"
              [ngClass]="{'hide-header' : !showHeaderData}"
              mat-header-cell
              (click)="toggleHeaderDataVisibility()"
              *matHeaderCellDef [colSpan]="headerDataColumns.length">
            <div class="d-flex justify-content-center">
                <mat-icon class="visibility-button">{{ showHeaderData ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="align-header">
                Kopfdaten
              </span>
            </div>
          </th>
        </ng-container>
        <!--Specification Header Row-->
        <ng-container matColumnDef="specification">
          <th class="th-center header-specification"
              [ngClass]="{'hide-header' : !showSpecification}"
              mat-header-cell
              *matHeaderCellDef
              (click)="toggleSpecificationVisibility()"
              [colSpan]="specificationColumns.length">
            <div class="d-flex justify-content-center">
              <mat-icon class="visibility-button">{{ showSpecification ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="align-header">
                Vorgaben
              </span>
            </div>
          </th>
        </ng-container>
        <!--Projection Header Row-->
        <ng-container matColumnDef="projection">
          <th class="th-center header-projection"
              [ngClass]="{'hide-header' : !showProjection}"
              mat-header-cell
              *matHeaderCellDef
              (click)="toggleProjectionVisibility()"
              [colSpan]="projectionColumns.length">
            <div class="d-flex justify-content-center">
              <mat-icon class="visibility-button">{{ showProjection ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="align-header">
                Projektierung
              </span>
            </div>
          </th>
        </ng-container>
        <!--Control Header Row-->
        <ng-container matColumnDef="control">
          <th class="th-center header-control"
              [ngClass]="{'hide-header' : !showControl}"
              mat-header-cell
              *matHeaderCellDef
              (click)="toggleControlVisibility()"
              [colSpan]="controlColumns.length">
            <div class="d-flex justify-content-center">
              <mat-icon class="visibility-button">{{ showControl ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="align-header">
                Kontrolle
              </span>
            </div>
          </th>
        </ng-container>
        <!-- Documentation Header Row -->
        <ng-container matColumnDef="docu">
          <th class="th-center header-docu"
              [ngClass]="{'hide-header' : !showDocumentation}"
              mat-header-cell
              *matHeaderCellDef
              (click)="toggleDocumentationVisibility()"
              [colSpan]="documentationColumns.length">
            <div class="d-flex justify-content-center">
              <mat-icon class="visibility-button">{{ showDocumentation ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="align-header">
                Dokumentation
              </span>
            </div>
          </th>
        </ng-container>
        <!-- Technical Data Header Row -->
        <ng-container matColumnDef="technicalData">
          <th class="th-center header-technicalData"
              [ngClass]="{'hide-header' : !showTechnicalData}"
              mat-header-cell
              *matHeaderCellDef
              (click)="toggleTechnicalDataVisibility()"
              [colSpan]="technicalDataColumns.length">
            <div class="d-flex justify-content-center">
              <mat-icon class="visibility-button">{{ showTechnicalData ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span [ngClass]="{'align-header' : showTechnicalData, 'align-header-hidden' : !showTechnicalData}">
                Technische Daten
              </span>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="Station">
          <th class="th-center rotated-text sticky-column" mat-header-cell *matHeaderCellDef> Station </th>
          <td class="td-center sticky-column routing-cell"
              mat-cell
              (click)="navigateToStation(stationOverallView.id, 1, true)"
              *matCellDef="let stationOverallView">
              {{stationOverallView.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Bearbeiter">
          <th class="th-center rotated-text" mat-header-cell *matHeaderCellDef> Bearbeiter </th>
          <td class="td-center"
              mat-cell
              *matCellDef="let stationOverallView"
              [matTooltip]="stationOverallView.issuerName">
            {{stationOverallView.issuerAcronym}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th class="th-center rotated-text" mat-header-cell *matHeaderCellDef> Status </th>
          <td class="td-center" mat-cell *matCellDef="let stationOverallView">
            <div class="station-status"
                 [ngClass]="{
          'station-status-ausgelagert': stationOverallView?.status=='AUSGELAGERT',
          'station-status-inarbeit': stationOverallView?.status=='INARBEIT',
          'station-status-eingelagert': stationOverallView?.status=='EINGELAGERT'
          }">
              {{stationOverallView.status}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Version">
          <th class="th-center rotated-text" mat-header-cell *matHeaderCellDef> Version </th>
          <td class="td-center" mat-cell *matCellDef="let stationOverallView">{{stationOverallView.version}}</td>
        </ng-container>

        <ng-container matColumnDef="Gesamtfortschritt">
          <th class="th-center rotated-text" mat-header-cell *matHeaderCellDef> Gesamtfortschritt </th>
          <td class="td-center" mat-cell *matCellDef="let stationOverallView">
            <span [ngClass]="stationOverallView.totalProgress >= 100 ? 'progress-text-align-100' : 'progress-text-align'">{{stationOverallView.totalProgress}}</span>
            <mat-progress-spinner class="progress-spinner-align mat-spinner-color"
                                  value="{{stationOverallView.totalProgress}}"
                                  mode="determinate" [diameter]="38">

            </mat-progress-spinner>
          </td>
        </ng-container>

        <ng-container matColumnDef="LOPfortschritt">
          <th class="th-center rotated-text" mat-header-cell *matHeaderCellDef> LOPfortschritt </th>
          <td class="td-center routing-cell"
              mat-cell
              (click)="navigateToStation(stationOverallView.id, 8, true)"
              *matCellDef="let stationOverallView">
            <span [ngClass]="stationOverallView.lopProgress >= 100 ? 'progress-text-align-100' : 'progress-text-align'">{{stationOverallView.lopProgress}}</span>
            <mat-progress-spinner class="progress-spinner-align-lop mat-spinner-color"
                                  value="{{stationOverallView.lopProgress}}"
                                  mode="determinate" [diameter]="38">

            </mat-progress-spinner>
          </td>
        </ng-container>

        <!--      HeaderData columns-->>
        <ng-container *ngFor="let displayedColumns of headerDataColumns; let colIndex = index">
            <ng-container matColumnDef="{{displayedColumns}}">
              <th class="th-center rotated-text"
                  [ngClass]="{
                  'hide-column' : !showHeaderData,
                  'hide-single-column' : !isHeaderDataColumnSelected(displayedColumns)
                  }"
                  mat-header-cell
                  *matHeaderCellDef>
                {{displayedColumns}}
              </th>
              <td class="td-center routing-cell"
                  [ngClass]="{
                  'hide-column' : !showHeaderData,
                  'hide-single-column' : !isHeaderDataColumnSelected(displayedColumns)
                  }"
                  mat-cell
                  (click)="navigateToStation(stationOverallView.id, 2, true)"
                  *matCellDef="let stationOverallView">
                  {{stationOverallView.headerData[colIndex].data}}
              </td>
            </ng-container>
        </ng-container>

        <!--      Specification columns-->
        <ng-container *ngFor="let displayedColumns of specificationColumns; let colIndex = index">
          <ng-container  matColumnDef="{{displayedColumns}}">
            <th class="th-center rotated-text"
                [ngClass]="{
                'hide-column' : !showSpecification,
                'hide-single-column' : !isSpecificationColumnSelected(displayedColumns)
                }"
                mat-header-cell
                *matHeaderCellDef>
              {{displayedColumns}}
            </th>
            <td class="td-center routing-cell"
                [ngClass]="{
                'hide-column' : !showSpecification,
                'hide-single-column' : !isSpecificationColumnSelected(displayedColumns)
                }"
                mat-cell
                (click)="navigateToStation(stationOverallView.id , 3, true)"
                *matCellDef="let stationOverallView">
              <ng-container *ngIf="showSpecification">
                <ng-container *ngIf="isSpecificationColumnSelected(displayedColumns)">
                  <ng-container *ngIf="stationOverallView.specification[colIndex].done">
                    <mat-icon class="check-icon">check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!stationOverallView.specification[colIndex].done">
                    <mat-icon class="close-icon">close</mat-icon>
                  </ng-container>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <!--      Projection columns-->
        <ng-container *ngFor="let displayedColumns of projectionColumns; let colIndex = index">
          <ng-container  matColumnDef="{{displayedColumns}}">
            <th class="th-center rotated-text"
                [ngClass]="{'hide-column' : !showProjection,
                'hide-single-column' : !isProjectionColumnSelected(displayedColumns)
                }"
                mat-header-cell
                *matHeaderCellDef>
              {{displayedColumns}}
            </th>
            <td class="td-center routing-cell"
                [ngClass]="{
                'hide-column' : !showProjection,
                'hide-single-column' : !isProjectionColumnSelected(displayedColumns)
                }"
                mat-cell
                (click)="navigateToStation(stationOverallView.id, 4, true)"
                *matCellDef="let stationOverallView">
              <ng-container *ngIf="showProjection">
                <ng-container *ngIf="isProjectionColumnSelected(displayedColumns)">
                  <ng-container *ngIf="stationOverallView.projection[colIndex].done">
                    <mat-icon class="check-icon">check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!stationOverallView.projection[colIndex].done">
                    <mat-icon class="close-icon">close</mat-icon>
                  </ng-container>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <!--      Control columns-->
        <ng-container *ngFor="let displayedColumns of controlColumns; let colIndex = index">
          <ng-container  matColumnDef="{{displayedColumns}}">
            <th class="th-center rotated-text"
                [ngClass]="{
                'hide-column' : !showControl,
                'hide-single-column' : !isControlColumnSelected(displayedColumns)
                }"
                mat-header-cell
                *matHeaderCellDef>
              {{displayedColumns}}
            </th>
            <td class="td-center routing-cell"
                [ngClass]="{
                'hide-column' : !showControl,
                'hide-single-column' : !isControlColumnSelected(displayedColumns)
                }"
                mat-cell
                (click)="navigateToStation(stationOverallView.id, 5, true)"
                *matCellDef="let stationOverallView">
              <ng-container *ngIf="showControl">
                <ng-container *ngIf="isControlColumnSelected(displayedColumns)">
                  <ng-container *ngIf="stationOverallView.control[colIndex].done">
                    <mat-icon class="check-icon">check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!stationOverallView.control[colIndex].done">
                    <mat-icon class="close-icon">close</mat-icon>
                  </ng-container>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <!-- Documentation columns-->
        <ng-container *ngFor="let displayedColumns of documentationColumns; let colIndex = index">
          <ng-container  matColumnDef="{{displayedColumns}}">
            <th class="th-center rotated-text"
                [ngClass]="{
                'hide-column' : !showDocumentation,
                'hide-single-column' : !isDocumentationColumnSelected(displayedColumns)
                }"
                mat-header-cell
                *matHeaderCellDef>
              {{displayedColumns}}
            </th>
            <td class="td-center routing-cell"
                [ngClass]="{
                'hide-column' : !showDocumentation,
                'hide-single-column' : !isDocumentationColumnSelected(displayedColumns)
                }"
                mat-cell
                (click)="navigateToStation(stationOverallView.id, 6, true)"
                *matCellDef="let stationOverallView">
              <ng-container *ngIf="showDocumentation">
                <ng-container *ngIf="isDocumentationColumnSelected(displayedColumns)">
                  <ng-container *ngIf="stationOverallView.documentation[colIndex].done">
                    <mat-icon class="check-icon">check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!stationOverallView.documentation[colIndex].done">
                    <mat-icon class="close-icon">close</mat-icon>
                  </ng-container>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <!-- Technical Data columns-->
        <ng-container *ngFor="let displayedColumns of technicalDataColumns; let colIndex = index">
          <ng-container  matColumnDef="{{displayedColumns}}">
            <th class="th-center rotated-text"
                [ngClass]="{
                'hide-column' : !showTechnicalData,
                'hide-single-column' : !isTechnicalDataColumnSelected(displayedColumns)
                }"
                mat-header-cell
                *matHeaderCellDef>
              {{displayedColumns}}
            </th>
            <td class="td-center routing-cell"
                [ngClass]="{
                'hide-column' : !showTechnicalData,
                'hide-single-column' : !isTechnicalDataColumnSelected(displayedColumns)
                }"
                mat-cell
                (click)="navigateToStation(stationOverallView.id, 7, true)"
                *matCellDef="let stationOverallView">
              {{stationOverallView.technicalData[colIndex].value}}
            </td>
          </ng-container>
        </ng-container>

        <tr class="general-header-row" mat-header-row *matHeaderRowDef="generalColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="loggedUser.user.activeProject == 0">
  <div [routerLink]="['/projectAdministration', false]" class="card-container-no-project" appProjectElevation [defaultElevation]="4" [raisedElevation]="16">
    <div class="container-no-project">
      <h1>Kein Projekt ausgewählt</h1>
      <h3>hier klicken</h3>
    </div>
  </div>
</ng-container>
