.overall-view-container {
  margin-top: 4px;
  margin-left: 20px;
  margin-right: 2%;
}

.table-container{
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
}

.header-allgemein{
  background-color: var(--frontend-accent)!important;
}

.header-headerData{
  background-color: orange!important;
}

.header-specification{
  background-color: var(--frontend-success)!important;
}

.header-projection{
  background-color: dodgerblue!important;
}

.header-control{
  background-color: rebeccapurple!important;
}

.header-docu{
  background-color: rosybrown!important;
}

.header-technicalData{
  background-color: mediumvioletred!important;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 10px;
}

.mat-mdc-row{
  font-size: 10px;
}

.rotated-text {
  //transform: rotate(-90deg);
  //white-space: nowrap;
  //height: 200px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.mat-column-Gesamtfortschritt{
  min-width: 120px;
  max-width: 120px;
}

.mat-column-LOPfortschritt{
  min-width: 100px;
  max-width: 100px;
}

.sticky-column{
  position: sticky;
  left: 0;
  z-index: 1;
}

.th-center{
  text-align: center;
}

.td-center{
  text-align: center;
}

.check-icon{
  color: var(--frontend-success);
}

.close-icon{
  color: var(--frontend-error);
}


.station-status-ausgelagert{
  background-color: var(--frontend-error);
}

.station-status-inarbeit{
  background-color: var(--frontend-warning);
}

.station-status-eingelagert{
  background-color: var(--frontend-success)
}

.station-status{
  padding: 6px;
  border-radius: 3px;
}

.progress-text-align-100{
  position: relative;
  top: 19px;
}

.progress-text-align{
  position: relative;
  top: 19px;
}

.progress-spinner-align{
  position: relative;
  bottom: 10px;
  left: 25.5px;
}

.progress-spinner-align-lop{
  position: relative;
  bottom: 10px;
  left: 15.5px;
}
