.overall-view-container {
  margin-top: 28px;
  margin-left: 20px;
  margin-right: 2%;
}

.table-container{
  table-layout: fixed;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 79vh;
}


.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  position: sticky;
  top: 50px;
  z-index: 10;
  font-size: 0.6rem;
  padding-top: 0;
}

.general-header-row {
  height: 50px!important;
  min-height: 50px!important;
  max-height: 50px!important;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 0.6rem;
  padding-bottom: 0;
}

.mat-mdc-row{
  font-size: 0.6rem;

  user-select: none;

  height: 20px!important;
  max-height: 20px!important;
  min-height: 20px!important;
  padding: 0!important;
}

.test-height {
  height: 20px!important;
  max-height: 20px!important;
  min-height: 20px!important;
  padding: 0!important;
}

.header-allgemein{
  background-color: var(--frontend-accent)!important;
}

.header-headerData{
  background-color: orange!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-headerData:hover{
  cursor: pointer;
  background-color: darkorange!important;
}

.header-specification{
  background-color: var(--frontend-success)!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-specification:hover{
  cursor: pointer;
  background-color: var(--frontend-success-hovered)!important;
}

.header-projection{
  background-color: dodgerblue!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-projection:hover{
  cursor: pointer;
  background-color: rgba(26, 132, 235)!important;
}

.header-control{
  background-color: rebeccapurple!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-control:hover{
  cursor: pointer;
  background-color: rgba(89, 43, 135)!important;
}

.header-docu{
  background-color: rosybrown!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-docu:hover{
  cursor: pointer;
  background-color: rgba(168, 125, 125)!important;
}

.header-technicalData{
  background-color: mediumvioletred!important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.header-technicalData:hover{
  cursor: pointer;
  background-color: rgba(181, 14, 119)!important;
}

.rotated-text {
  //transform: rotate(-90deg);
  //white-space: nowrap;
  //height: 200px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.mat-column-Station{
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  padding: 0;
}

.mat-column-Bearbeiter{
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
}

.mat-column-Status{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 0;
}

.mat-column-Version{
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
}

.mat-column-Gesamtfortschritt{
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  padding: 0;
}

.mat-column-LOPfortschritt{
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  padding: 0;
}


.sticky-column{
  position: sticky;
  left: 0;
  z-index: 1;
}

.th-center{
  text-align: center;
}

.td-center{
  text-align: center;
}

.check-icon{
  color: var(--frontend-success);
}

.close-icon{
  color: var(--frontend-error);
}


.station-status-ausgelagert{
  background-color: var(--frontend-error);
}

.station-status-inarbeit{
  background-color: var(--frontend-warning);
}

.station-status-eingelagert{
  background-color: var(--frontend-success)
}

.station-status{
  padding: 6px;
  border-radius: 3px;
}

.progress-text-align-100{
  position: relative;
  top: 19px;
}

.progress-text-align{
  position: relative;
  top: 19px;
}

.progress-spinner-align{
  position: relative;
  bottom: 10px;
  left: 25.5px;
}

.progress-spinner-align-lop{
  position: relative;
  bottom: 10px;
  left: 15.5px;
}

.mat-spinner-color::ng-deep circle{
  stroke: var(--frontend-progress-spinner) !important;
}

//cell customization
.routing-cell{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  white-space: nowrap;
}

.routing-cell:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.15);
}


//Hide Headers and Columns

.visibility-button{
  width: 20px;
  height: 20px;
  font-size: 1.3rem;

  margin-left: 10px;
}

.align-header{
  margin-left: 6px;
}

.align-header-hidden{
  max-width: 100px;
  min-width: 100px;
}

.hide-header{
  padding-right: 10px;
  padding-left: 0;
}

.hide-column{
  color: transparent;
  min-width: 0;
  max-width: 0;
  padding: 0;
}

.hide-single-column{
  color: transparent;
  min-width: 0;
  max-width: 0;
  padding: 0;
}

//Filter
.mat-mdc-select{
  font-size: 0.7rem;
}

.mat-mdc-option{
  font-size: 0.7rem;
}

.mat-mdc-form-field{
  height: 70px;
  min-height: 70px;
  max-height: 70px;
}

.filter-button{
  position: relative;
  bottom: 8px;
}

.info-icon{
  margin-left: 6px;

  position: relative;
  top: 6px;

  height: 20px;
  width: 20px;
  font-size: 20px;
}
