.dashboard-container{
  margin-top: 28px;
  height:89vh;
  margin-right: 1%;
  margin-left: 1%;
}

.favorite-projects{
  width: 25%;
}

.favorite-stations{
  width: 50%;
}

.assigned-stations{
  width: 25%;
}
