.settings-container {
  margin-top: 4px;
  display: flex;
}

.settings-nav{
  margin-top: 4px;
}

.settings-divider{
  margin-top: 4px;
  margin-left: 30px;
  display: flex;
}

.settings-content{
  margin-top: 4px;
  flex: 1;
}
