<div class="settings-container">
  <div class="settings-nav">
    <app-sys-nav-button class="nav-button" text="Stationen"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Kopfdaten"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Vorgaben"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Projektierung"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Technische Daten"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Kontrolle"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Doku"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="Historie"></app-sys-nav-button>
    <app-sys-nav-button class="nav-button" text="LOP"></app-sys-nav-button>
  </div>
  <div class="settings-divider">
    <mat-divider vertical="true"></mat-divider>
  </div>
  <div class="settings-content">
    <app-lop-settings></app-lop-settings>
  </div>
</div>
