.table-container{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
  position: sticky;
  top: 0;
  //z-index: 10;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.th-center{
  text-align: center;
}

.mat-column-Zeitstempel{

}

.mat-column-Historie{

}

.mat-column-Benutzer{

}

.mat-column-Dateiname{

}
