.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.th-center{
  text-align: center;
}

.mat-column-Zeitstempel{

}

.mat-column-Historie{

}

.mat-column-Benutzer{

}

.mat-column-Dateiname{

}
