.table-container{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
  position: sticky;
  top: 0;
  //z-index: 10;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.transferType-1{
  background-color: var(--frontend-fileTransfer-1)!important;
}

.transferType-2{
  background-color: var(--frontend-fileTransfer-2)!important;
}

.transferType-1-eplan{
  background-color: var(--frontend-fileTransfer-1-eplan)!important;
}

.transferType-2-eplan{
  background-color: var(--frontend-fileTransfer-2-eplan)!important;
}

.th-center{
  text-align: center;
}

.mat-column-Zeitstempel{
  width: 180px;
}

.mat-column-Historie{

}

.mat-column-Benutzer{

}

.mat-column-Dateiname{

}

.info-icon{
  position: relative;
  top: 7px;
  left: 15px;
}

::ng-deep .custom-tooltip {
  white-space: pre-line;
}
