<div>
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="history.historyList">

      <ng-container matColumnDef="Zeitstempel">
        <th mat-header-cell *matHeaderCellDef> Zeitstempel </th>
        <td [ngClass]="{
            'transferType-1': history?.transferType==1 && !history?.eplan,
            'transferType-2': history?.transferType==2 && !history?.eplan,
            'transferType-1-eplan': history?.transferType==1 && history?.eplan,
            'transferType-2-eplan': history?.transferType==2 && history?.eplan
            }"
            mat-cell *matCellDef="let history">
            {{history.date}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Historie">
        <th mat-header-cell *matHeaderCellDef>
          Historie
          <mat-icon [matTooltip]="historyInfo" matTooltipClass="custom-tooltip" class="info-icon">info</mat-icon>
        </th>
        <td [ngClass]="{
            'transferType-1': history?.transferType==1 && !history?.eplan,
            'transferType-2': history?.transferType==2 && !history?.eplan,
            'transferType-1-eplan': history?.transferType==1 && history?.eplan,
            'transferType-2-eplan': history?.transferType==2 && history?.eplan
            }"
          mat-cell *matCellDef="let history">
          {{history.item}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Benutzer">
        <th class="th-center" mat-header-cell *matHeaderCellDef> Benutzer </th>
        <td [ngClass]="{
            'transferType-1': history?.transferType==1 && !history?.eplan,
            'transferType-2': history?.transferType==2 && !history?.eplan,
            'transferType-1-eplan': history?.transferType==1 && history?.eplan,
            'transferType-2-eplan': history?.transferType==2 && history?.eplan
            }"
          class="th-center" mat-cell *matCellDef="let history">
          {{history.userAcronym}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Dateiname">
        <th mat-header-cell *matHeaderCellDef> Dateiname </th>
        <td [ngClass]="{
            'transferType-1': history?.transferType==1 && !history?.eplan,
            'transferType-2': history?.transferType==2 && !history?.eplan,
            'transferType-1-eplan': history?.transferType==1 && history?.eplan,
            'transferType-2-eplan': history?.transferType==2 && history?.eplan
            }"
          mat-cell *matCellDef="let history">
          {{history.filename}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-divider class="mt-4"></mat-divider>
  <div class="d-flex flex-row-reverse">
    <button class="mt-2" mat-raised-button color="accent" (click)="addHistory()">Manueller Eintrag</button>
  </div>
</div>

<!--[ngClass]="{-->
<!--'station-status-ausgelagert': stationOverallView?.status=='AUSGELAGERT',-->
<!--'station-status-inarbeit': stationOverallView?.status=='INARBEIT',-->
<!--'station-status-eingelagert': stationOverallView?.status=='EINGELAGERT'-->
<!--}-->
