<div class="div-table ">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="specification.specificationList">

      <ng-container matColumnDef="Vorgabe">
        <th mat-header-cell *matHeaderCellDef> Vorgabe </th>
        <td mat-cell *matCellDef="let specification">{{specification?.taskSetting?.item}}</td>
      </ng-container>

      <ng-container matColumnDef="Zusatz">
        <th class="th-center" mat-header-cell *matHeaderCellDef> Zusatz </th>
        <td class="th-center" mat-cell *matCellDef="let specification">
          <ng-container *ngIf="!editSpecification[specification.id]?.isEdit">
            <div class="editable-field" (click)="setEdit(specification.id)">
              {{specification.addition || 'Klicken, um Zusatz hinzuzufügen'}}
            </div>
          </ng-container>
          <ng-container *ngIf="editSpecification[specification.id].isEdit">
            <mat-form-field class="alignment edit-mat-form-field-data">
              <input matInput #inputField [(ngModel)]="editSpecification[specification.id].specification.addition"
                     (keydown.enter)="updateStationSpecification(specification.id)"
                     (blur)="updateStationSpecification(specification.id)">
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Erledigt">
        <th mat-header-cell *matHeaderCellDef> Erledigt </th>
        <td mat-cell *matCellDef="let specification let colIndex = index">
          <mat-checkbox checked="{{specification?.done}}"
                        color="primary"
                        (change)="updateStationSpecificationCheckbox($event, specification.id, 'done')">
          </mat-checkbox>
        </td>
      </ng-container>

<!--      <ng-container matColumnDef="Übergeben" class="mat-column-Übergeben">-->
<!--        <th class="th-center mat-column-Übergeben" mat-header-cell *matHeaderCellDef> Übergeben </th>-->
<!--        <td class="th-center mat-column-Übergeben" mat-cell *matCellDef="let specification">-->
<!--          <mat-checkbox checked="{{specification?.commited}}"-->
<!--                        color="primary"-->
<!--                        (change)="updateStationSpecificationCheckbox($event, specification.id, 'commited')">-->
<!--          </mat-checkbox>-->
<!--        </td>-->
<!--      </ng-container>-->


      <ng-container matColumnDef="Datum erledigt">
        <th class="th-center" mat-header-cell *matHeaderCellDef> Datum erledigt </th>
        <td class="th-center" mat-cell *matCellDef="let specification">
          <ng-container *ngIf="!editSpecificationDateDone[specification.id]?.isEdit">
            <div class="editable-field" (click)="setEditDateDone(specification.id)">
              {{specification?.dateDone}}
            </div>
          </ng-container>
          <ng-container *ngIf="editSpecificationDateDone[specification.id].isEdit">
            <mat-form-field class="alignment edit-mat-form-field-data">
              <input matInput #inputFieldDateDone [(ngModel)]="editSpecificationDateDone[specification.id].specification.dateDone"
                     (keydown.enter)="updateStationSpecificationDateDone(specification.id)"
                     (blur)="updateStationSpecificationDateDone(specification.id)">
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>


