.div-table{
  //margin-top: 10px;
}

.th-Aktion{
  padding-left: 35px;
}

.mat-column-Aktion{
  width: 8.75%;
}

.mat-column-Aufnahme{
  width: 8.75%;
}

.mat-column-von{
  width: 10%;
}

.mat-column-Übermittlungsart{
  width: 6%;
}

.mat-column-ToDo{
  width: 25%;
}

.mat-column-Zusatz{
  width: 13.75%;
}

.mat-column-Status{
  width: 8.75%;
}

.mat-column-Erledigt{
  width: 8.75%;
}

.mat-column-Benutzer{
  width: 5%;
}

.th-center{
  text-align: center;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.status-erledigt{
  background: var(--frontend-success);
}

.status-offen{
  background: var(--frontend-error);
}

.status-in-arbeit{
  background: var(--frontend-warning);
}
