//SysProTec Rot
$sys-red-palette:(
  50: #fde9e7,
  100: #ffcbbc,
  200: #ffa891,
  300: #ff8564,
  400: #ff6742,
  500: #ff4821,
  600: #ff421d,
  700: #f43a17,
  800: #e63212,
  900: #ce2006,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

//SysProTec Grau
$sys-grey-palette:(
  50: #fbfbfb,
  100: #f6f6f6,
  200: #f2f2f2,
  300: #e8e8e8,
  400: #c6c6c6,
  500: #a8a8a8,
  600: #7e7e7e,
  700: #6a6a6a,
  800: #4a4a4a,
  900: #282828,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette($sys-red-palette, 800);
$frontend-accent: mat.define-palette($sys-grey-palette, 800);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);
$frontend-success: #4caf50;

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));


.dark-theme {
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
  --frontend-nav-button: rgba(255,255,255,.08);
  --frontend-nav-button-selected: rgba(255,255,255,0.2);
  --frontend-nav-button-selected-text: #ff6742;
  --frontend-alternate: #303030;
  --frontend-clear: #ffffff;
  --frontend-progress-spinner: #ffffff;
  background-color: #202124;
  color: #ffffff;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --frontend-primary: #e63212;
  --frontend-accent: #4a4a4a;
  --frontend-error: #ff5252;
  --frontend-success: #4caf50;
  //--frontend-warning: #fbc800;
  --frontend-warning: #fb8C00;
  --frontend-alternate: #e6e6e6;
  --frontend-nav-button: rgba(0,0,0,0.08);
  --frontend-nav-button-selected: rgba(0,0,0,0.12);
  --frontend-nav-button-selected-text: #e63212;
  --frontend-clear: #4a4a4a;
  --frontend-nav-button-border: rgba(255,255,255,0.1);
  --mat-snack-bar-button-color: #c6c6c6;
  --mat-divider-white-opacity: rgba(255,255,255,0.6);
  --frontend-progress-spinner: #4a4a4a;

  --frontend-fileTransfer-1: rgba(76, 175, 80, 0.2);
  --frontend-fileTransfer-2: rgba(255, 82, 82, 0.2);
  --frontend-fileTransfer-1-eplan: rgba(76, 175, 80, 0.6);
  --frontend-fileTransfer-2-eplan: rgba(255, 82, 82, 0.6);
}

//Snackbar

.pass-snackbar {
  position: relative;
  //padding-left: 0px;
}

.pass-snackbar::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #5cb85c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pass-snackbar .mat-mdc-button {

}

.fail-snackbar {
  position: relative;
  //padding-left: 0px;
}

.fail-snackbar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #ed4337;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.fail-snackbar .mat-mdc-button {

}

//Datepicker
.tp-datepicker-input {
  position: relative;
}

.tp-datepicker-wrapper {
  position: absolute;
  z-index: 100;
  top: 32px;
  left: 0;
  transform-origin: left top;
}

mat-card.mat-card.tp-datepicker {
  width: 296px;
  height: 354px;
  padding: 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12)
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
