<form [formGroup]="stationForm" (ngSubmit)="saveStation()">
  <mat-card>
    <mat-card-header>
      <h1>{{data.title}}</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input maxlength="27" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Beschreibung</mat-label>
        <input maxlength="38" matInput formControlName="description">
      </mat-form-field>

      <div class="d-flex justify-content-between">
        <mat-form-field class="mat-mdc-form-field-2">
          <mat-label>Bearbeiter</mat-label>
          <mat-select formControlName="issuer">
            <ng-container *ngFor="let user of user.userList">
              <mat-option [value]="user.acronym">{{user.firstname}} {{user.lastname}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-mdc-form-field-2">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="INARBEIT">in Arbeit</mat-option>
            <mat-option value="EINGELAGERT">Eingelagert</mat-option>
            <mat-option value="AUSGELAGERT">Ausgelagert</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent"> {{data.button}} </button>
      <button type="reset" mat-raised-button color="primary" (click)="closePopup()"> Abbrechen </button>
    </mat-card-actions>
  </mat-card>
</form>
