.div-table{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4px;
}

.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}
