<mat-card class="station-card-container"
          (click)="navigateToStation(currentIndex, 1)">
  <div class="d-flex justify-content-between ms-2 mt-2 me-2">
    <div class="card-header-left">
      <button mat-raised-button matTooltip="Favorit" color="accent" class="button small-button" (click)="$event.stopPropagation()">
        <i class="material-icons star-icon" [ngClass]="{'star-icon': favorite}">star</i>
      </button>
      <div class="card-header-text">
        <div class="project-name">
          <h3>{{stationView.name}}</h3>
        </div>
        <div class="project-description">
          <h5>{{stationView.description}}</h5>
        </div>
      </div>
    </div>

    <div class="card-header-right">
      <button class="align-menu-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editStation(stationView.id)">
          Bearbeiten
        </button>
        <button mat-menu-item (click)="deleteStation(stationView.id, stationView.name)">
          Löschen
        </button>
      </mat-menu>
    </div>
  </div>

  <div>
    <div class="station-info d-flex justify-content-between ms-2 mt-3 me-3">
      <h5 class="station-status station-info-text"
      [ngClass]="{
          'station-status-ausgelagert': stationView.status=='AUSGELAGERT',
          'station-status-inarbeit': stationView.status=='INARBEIT',
          'station-status-eingelagert': stationView.status=='EINGELAGERT'
          }">
        {{stationView.status}}
      </h5>
      <h5 class="station-version station-info-text"
          matRipple
          (click)="navigateToStation(currentIndex, 10)">
        {{stationView.version}}
      </h5>
      <h5 class="station-issuer station-info-text"
          [matTooltip]="stationView.issuerName">
        {{stationView.issuerAcronym}}
      </h5>
      <h5 class="station-lop station-info-text"
          matRipple
          [ngClass]="{'station-status-eingelagert': stationView.lopToDo==0}"
          (click)="navigateToStation(currentIndex, 8)">
        LOP: {{stationView.lopToDo}}
      </h5>
      <div class="station-progress station-info-text">
        <mat-progress-spinner
          style="position:relative; top:2px"
          value="{{stationView.totalProgress}}"
          mode="determinate" [diameter]="33"
          class="mat-spinner-color">
        </mat-progress-spinner>
        <div style="position:relative; top:-23px">{{stationView.totalProgress}}</div>
      </div>
    </div>
  </div>
</mat-card>
