.check-state{
  color: var(--frontend-success);
  position: relative;
  top: 2.5px;
}

.open-state{
  color: var(--frontend-primary);
  position: relative;
  top: 2.5px;
}

.not-needed-state{
  color: var(--frontend-clear);
  position: relative;
  top: 2.5px;
}

.button{
  background-color: transparent;
}
