.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.button-container{
  margin-left: 5%;
  margin-right: 5%;
}

.mat-table {
  //min-width: 1600px; /*currently not needed*/
}

.mat-mdc-header-cell, .mat-mdc-cell {
  text-align: center;
  white-space: nowrap;
}

.mat-column-Aktion{

}

.mat-column-Datum{

}

.mat-column-Version{

}

.mat-column-status{

}

.mat-column-Aufgabe{
  text-align: start;
}

.mat-column-Station{

}


.mat-mdc-header-row{
  color: white;
  background-color: var(--frontend-primary);
  height: 50px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}
