.station-overview-container{
  display: flex;
}

.station-overview-general{
  width: 350px;
  border-radius: 12px;
  height: fit-content;
}

.station-overview-documentation{
  border-radius: 12px;
}
.station-overview-specification{
  border-radius: 12px;
}
.station-overview-control{
  border-radius: 12px;
}
.station-overview-lop{
  border-radius: 12px;
}
.station-overview-projection{
  border-radius: 12px;
}
