.station-overview-container{
  display: flex;
  height: 80vh;
  //background-color: #fb8C00;
}

.station-overview-general{
  width: 350px;
  border-radius: 12px;
  height: fit-content;
}

.station-overview-documentation{
  border-radius: 12px;
}
.station-overview-specification{
  border-radius: 12px;
}
.station-overview-control{
  border-radius: 12px;
}
.station-overview-lop{
  border-radius: 12px;
}
.station-overview-projection{
  border-radius: 12px;
}

.station-overview-note{
  border-radius: 12px;
}

.station-overview-image{
  //background-color: #ed4337;
  border-radius: 12px;
  flex-grow: 1;
  height: fit-content;
}
