.calender-settings-container{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.mat-cell-custom-width{
  width: 52px;
}

.mat-sticky {
  position: sticky;
  left: 0;
  z-index: 10;
}

.table-container{
  overflow-x: auto;
  overflow-y: auto;
  max-height: 80vh;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4px;
}

.today-content{
  font-weight: 600;
  color: var(--frontend-primary);
  font-size: 13px;
}

.header-row-weekNumber-odd{
  color: var(--frontend-header-day)!important;
  background-color: var(--frontend-header-background-day-transparent)!important;
  font-size: 12px;
  user-select: none;
}

.header-row-weekNumber-even{
  color: var(--frontend-header-day)!important;
  background-color: var(--frontend-header-background-day)!important;
}

.header-row-weekdays{
  color: var(--frontend-header-background-weekdays)!important;
  background-color: var(--frontend-alternate)!important;
  font-size: 12px;
  user-select: none;
}

.header-row-weekend{
  color: white!important;
  background-color: var(--frontend-primary)!important;
  font-size: 12px;
  user-select: none;
}

.header-row-day{
  color: var(--frontend-header-day)!important;
  background-color: var(--frontend-header-background-day)!important;
  font-size: 11px;
  user-select: none;
}

.today-frame-sides{
  border-left: 1px solid var(--frontend-primary);
  border-right: 1px solid var(--frontend-primary);
}

.today-frame-sides-top{
  border-left: 1px solid var(--frontend-primary);
  border-right: 1px solid var(--frontend-primary);
  border-top: 1px solid var(--frontend-primary);
}

.today-frame-sides-bottom{
  border-left: 1px solid var(--frontend-primary);
  border-right: 1px solid var(--frontend-primary);
  border-bottom: 1px solid var(--frontend-primary)!important;
}

.mat-header-cell-category{
  display: flex;
  justify-content: left;
  min-width: 180px;
  width: fit-content;
  //background-color: var(--frontend-alternate)!important;
  //color: var(--frontend-header-background-weekdays)!important;
  background-color: var(--frontend-header-background-day)!important;
  color: var(--frontend-header-day)!important;
  left: 0;
  font-size: 12px;
  user-select: none;
}

.mat-column-user{
  min-width: 180px;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
}

.mat-cell-div{
  border-radius: 4px;
  max-width: 60px;
  min-width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 500;
}

.mat-mdc-row{
  font-size: 11px;
}

.mat-mdc-row:nth-child(even){
  background-color: var(--frontend-alternate);
}

.mat-cell-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.th-center{
  text-align: center;
}

.editable-field {
  cursor: pointer;
}
